* 
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body 
{
    max-width: 100vw;
    overflow-x: hidden;
    font-size: 18px;
}

main
{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a 
{
    color: inherit;
    text-decoration: none;
}

@font-face 
{
    font-family: 'StarJedi';
    src: url('../assets/StarJedi/Starjedi.ttf');
}

@media (prefers-color-scheme: dark) 
{
    html 
    {
        color-scheme: dark;
    }
}
