* 
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body 
{
    overflow-x: hidden;
    font-size: 18px;
}

a 
{
    color: inherit;
    text-decoration: none;
}

@font-face 
{
    font-family: 'StarJedi';
    src: url('../assets/StarJedi/Starjedi.ttf');
}

@media (prefers-color-scheme: dark) 
{
    html 
    {
        color-scheme: dark;
    }
}
